* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  background: #3b49df;
  font: 400 16px "Calibri", "Arial";
  padding: 20px;
}
h3 {
  color: #fff;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.gc-label {
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 7px;
}
.gc-text {
  font-size: 16px;
  border: 2px solid #ccc;
  padding: 7px;
  border-radius: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
table {
  /* border-collapse: collapse;
  text-align: left;
  margin: 10px auto; */

  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  margin: 10px auto;
  position: relative;
}

thead tr {
  height: 60px;
  background: #ffed86;
  font-size: 16px;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
tbody tr:last-child {
  border: 0;
}

td,
th {
  text-align: left;
}

th,
td {
  padding: 10px 5px;
}
.resulthead {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 18px;
  box-shadow: 0 10px 20px -8px rgb(0 0 0 / 70%);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -10px;
  transition: 0.5s;
}

button:hover {
  padding-right: 12px;
  padding-left: 4px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
